
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    margin: 0;
    position: relative;
}

header {
    text-align: center;
    margin-top: 5%;
    font-size: 18px;
}

.lineandspinner {
    margin: 35px;
    display: inline-block;
    width: 100%;
    border-top: 2px solid black;
}

img {
    margin-top: 10px;
    width: 20%;
    animation: rotate 2s linear infinite;
    display: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {

        transform: rotate(360deg)
    }
}

.scoreboard {
    position: absolute;
    top: 30%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    display: grid;
    column-gap: 15px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.scoreboard-letter {
    border: 3px solid lightgrey;
    height: 45px;
    width: 45px;
}